<div class="container">
  <h3>CONSULTA DE PEDIDOS</h3>

  <div class="filters">
    <mat-form-field appearance="fill">
      <mat-label>Nro. Pedido</mat-label>
      <input matInput [(ngModel)]="filtroPedido" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <input matInput [(ngModel)]="filtroCliente" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="filtroFecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="irAGenerarPicking()">
      GENERAR PICKING
    </button>
  </div>

  <table mat-table [dataSource]="filteredOrders" class="mat-elevation-z2">
    <!-- Checkbox column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleAllRows($event)"
          [checked]="isAllSelected()"
          [indeterminate]="isIndeterminate()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let order">
        <mat-checkbox
          [(ngModel)]="selectionMap[order.nroPedido]"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Nro Pedido -->
    <ng-container matColumnDef="nroPedido">
      <th mat-header-cell *matHeaderCellDef>Nro. Pedido</th>
      <td mat-cell *matCellDef="let order">
        {{ order.nroPedido }}
      </td>
    </ng-container>

    <!-- Cliente -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let order">{{ order.cliente }}</td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let order">{{ order.estado }}</td>
    </ng-container>

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha Pedido</th>
      <td mat-cell *matCellDef="let order">
        {{ order.fecha | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Detalle de la orden como ícono de "3 rayas" -->
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let order">
        <!-- Ícono de tres rayas (hamburguesa) para mostrar el detalle -->
        <button mat-icon-button (click)="verDetalle(order.nroPedido)">
          <mat-icon>menu</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
