<div class="settings-container">
  <div class="settings-title">ESTRATEGIA DE PICKING</div>
  <div class="cards-wrapper">
    <div class="picking-card" *ngFor="let estrategia of estrategias">
      <div class="card-title">{{ estrategia.nombre }}</div>
      <div class="card-img">
        <img [src]="estrategia.cod_estrategia === 'PK_MOD' ? 'https://cdn-icons-png.flaticon.com/512/4149/4149643.png' : 'https://cdn-icons-png.flaticon.com/512/1832/1832506.png'" alt="{{ estrategia.nombre }}" />
      </div>
      <div class="card-desc">{{ estrategia.descripcion }}</div>
      <button class="card-btn" [class.active]="estrategia.flg_activo === 1" [disabled]="estrategia.flg_activo === 1" (click)="activarEstrategia(estrategia.cod_estrategia)">
        {{ estrategia.flg_activo === 1 ? 'ACTIVO' : 'ACTIVAR' }}
      </button>
    </div>
  </div>
</div>
